.container_navbar{
    padding-left: 10%;
}

.foto_foto{
    width: 100%;
    height: 600px;
    position: absolute;
    z-index: -99;
}

.foto_div{
    height: 400px;
    width: 100%;
    position: absolute;
}

.foto_gris{
    width: 100%;
    height: 100px;
    top: 300px;
    position: absolute;
    background-color: rgba(34,34,34,0.4);
}

.foto_texto{
    width: 100%;
    top: 400px;
    position: absolute;
    color: white;
    right: 25%;
}


@media only screen and (max-width: 800px) {
    .foto_texto{
        right: 0%;
    }  
}


@media only screen and (max-width: 3000px) {
    .foto_foto{
        height: 600px;
    }
    .foto_gris{
        top: 500px;
    }
    .foto_texto{
        top: 500px;
    }
    .nuevos_fondo{
        margin-top: 700px;
    }
}

@media only screen and (max-width: 1200px) {
    .foto_foto{
        height: 400px;
    }
    .foto_gris{
        top: 260px;
    }
    .foto_texto{
        top: 300px;
    }
    .nuevos_fondo{
        margin-top: 500px;
    }
}

@media only screen and (max-width: 650px) {
    .foto_foto{
        height: 200px;
    }
    .foto_gris{
        top: 100px;
    }
    .foto_texto{
        top: 100px;
    }
    .nuevos_fondo{
        margin-top: 200px;
    }
}

body{
    background-color: #4f677f;
}

.botones{
    height: 100px;
}

.boton{
    font-size: 2rem;
    width: 50px;
    background-color: rgba(0, 0, 0, 0.671);
    color: white;
    border-radius: 10px;
    text-align: center;
    padding-top: 6px;
    padding-bottom: 6px;
    margin-top: 10px;
}

.parrafo{
    font-size: 1.3rem;
}

.foto{
    border-radius: 10px;
}













.redes_div{
    background-color: #658fb5;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-left: 20%;
    padding-right: 20%;
}

.redes_div img{
    width: 50px;
}

.redes_div span a{
    font-size: 20px;
    color: black;
}

.redes_col{
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 20px;
    margin-right: 20px;
}

@media only screen and (max-width: 500px) {
    .redes_div span{
        font-size: 30px;
    }
    .redes_div img{
        width: 60px;
    }
    .redes_div{
        padding-left: 0%;
        padding-right: 0%;
    }
}




.marcas_div{
    width: 100%;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 10%;
    padding-right: 10%;
}

.marcas_div p{
    font-size: 1.5em;
}

.marcas_div img{
    margin-bottom: 1%;
    margin-left: 3%;
    margin-right: 3%;
}

@media only screen and (max-width: 1316px) {
    .marcas_div img{
        width: 100px;
        height: 100px;
    }
}